body {
    margin: 0 !important;
    padding: 0 !important;
    background-color:#121212;
    color: goldenrod ;
    font-family:sans-serif;
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6 {
    color: silver;
}
